<template>
  <q-page>
    <q-btn @click="start">Start</q-btn>
    <vue-p5 v-on="{setup, draw, keypressed}"></vue-p5>
  </q-page>
</template>

<script>
import VueP5 from 'vue-p5'
import { Blob } from '../classes/Blob'

export default {
  name: 'PageIndex',
  components: {
    'vue-p5': VueP5,
    VueP5
  },
  data () {
    return {
      blob: null,
      blobs: [],
      zoom: 1,
      player: {
        started: false
      },
      canvas: {
        width: 0,
        height: 0
      },
      game: {
        width: 100,
        height: 100
      },
      initial: {
        x: 0,
        y: 0,
        r: 10
      },
      socket: null
    }
  },
  created () {
    console.log('CREATED')
    this.canvas.width = (window.innerWidth)
    this.canvas.height = (window.innerHeight - 56 - 36)
  },
  mounted () {
    console.log('MOUNTED')
  },
  methods: {
    setup (sk) {
      let _this = this
      //
      this.$socket.on('initial', function (data) {
        console.log('INITIAL')
        _this.initial.x = data.x
        _this.initial.y = data.y
        _this.initial.r = data.r
        _this.game.width = data.w
        _this.game.height = data.h
      })
      //
      this.$socket.on('heartbeat', function (data) {
        console.log('heartbeat', data)
        data.forEach(element => {
          _this.blobs.push(new Blob(sk, element.x, element.y, element.r, element.id))
        })
      })

      console.log('SETUP')
      sk.resizeCanvas(this.canvas.width, this.canvas.height)
      this.blob = new Blob(sk, 0, 0, this.initial.r, this.$socket.id)

      // this.$socket.emit('start', { x: this.blob.pos.x, y: this.blob.pos.y, r: this.blob.r })
      // for (var i = 0; i < this.qty; i++) {
      //   var x = sk.random(-sk.width, sk.width)
      //   var y = sk.random(-sk.height, sk.height)
      //   this.blobs[i] = new Blob(sk, x, y, 10)
      // }
    },
    draw (sk) {
      sk.background('green')
      if (this.blob !== null) {
        sk.translate(this.canvas.width / 2, this.canvas.height / 2)
        var newZoom = this.initial.r / this.blob.r
        this.zoom = sk.lerp(this.zoom, newZoom, 0.1)
        sk.scale(this.zoom)
        sk.translate(-this.blob.pos.x, -this.blob.pos.y)
        sk.fill(255)
        this.blob.show()
        this.blob.update()
        this.blob.constrain(this.game.width, this.game.height)
        this.$socket.emit('update', { x: this.blob.pos.x, y: this.blob.pos.y })
      }
      for (var i = this.blobs.length; i >= 0; i--) {
        if (this.blobs[i] !== undefined && this.blobs[i].id !== this.$socket.id) {
          sk.fill(0, 0, 255)
          sk.ellipse(this.blobs[i].x, this.blobs[i].y, this.blobs[i].r * 2, this.blobs[i].r * 2)
          // console.log(this.blobs[i])
          this.blobs[i].show()
          // if (this.blob.eats(this.blobs[i])) {
          //   this.blobs.splice(i, 1)
          // }
        }
      }
    },
    keypressed (sk) {
      // convert the key code to it's string
      // representation and print it
      // const key = String.fromCharCode(sk.keyCode)
      // sk.print(key)
    },
    start () {
      console.log('startin')
      this.$socket.emit('start')
    }
  }
}
</script>
