<template>
  <q-page>
    <div ref="canvas"></div>
  </q-page>
</template>

<script>
import P5 from 'p5'
import Player from '../classes/Player'
import Spark from '../classes/Spark'

export default {
  data () {
    return {
      p5: null,
      player: null,
      socket: null,
      started: false,
      radius: 16,
      zoom: 1,
      players: [],
      sparks: [],
      canvas: {
        width: 0,
        height: 0
      },
      game: {
        width: 0,
        height: 0,
        maxRadius: 0
      }
    }
  },
  created () {
    this.canvas.width = (window.innerWidth)
    this.canvas.height = (window.innerHeight - 56) / (this.mobile ? 3 : 2) * 2
  },
  mounted () {
    let _this = this
    this.prompt()
    //  socket listening
    this.$socket.on('initial', function (data) {
      console.log('INITIAL', data)
      _this.game.width = data.game.w
      _this.game.height = data.game.h
      _this.game.maxRadius = data.game.maxRadius
      _this.player = new Player(_this.p5, data.player.r, data.player.x, data.player.y, _this.$socket.id, data.player.n)
      _this.started = true
    })

    this.$socket.on('heartbeat', function (data) {
      if (_this.started) {
        // console.log('heartbeat', data)
        _this.sparks = []
        data.sparks.forEach(element => {
          _this.sparks.push(new Spark(_this.p5, element.x, element.y, element.id))
        })
        _this.players = []
        data.players.forEach(element => {
          _this.players.push(new Player(_this.p5, element.r, element.x, element.y, element.id, element.n))
        })
      }
    })

    //  p5
    this.script = p5 => {
      _this.p5 = p5
      var canvas = null

      /**
       * SETUP
       */
      p5.setup = _ => {
        canvas = p5.createCanvas(this.canvas.width, (this.canvas.height - 56) / (this.mobile ? 3 : 2) * 2)
        canvas.parent(this.$refs.canvas)
        p5.frameRate(60)
      }

      /**
       * DRAW
       */
      p5.draw = _ => {
        //  draw bg
        p5.background(127)
        p5.translate(p5.width / 2, p5.height / 2)

        if (_this.started) {
          var newZoom = _this.radius / this.player.radius
          _this.zoom = p5.lerp(this.zoom, newZoom, 0.1)
          p5.scale(_this.zoom)
          p5.translate(-this.player.pos.x, -this.player.pos.y)
          //  update player
          _this.player.update(p5.mouseX, p5.mouseY, _this.game)
          //  show player
          _this.player.show(true)
          _this.$socket.emit('update', { x: this.player.pos.x, y: this.player.pos.y })
        }
        //  show sparks
        for (var s = _this.sparks.length - 1; s >= 0; s--) {
          _this.sparks[s].show()
          if (_this.started && _this.player.range(_this.sparks[s], _this.game.maxRadius)) {
            const sparkId = _this.sparks[s].id
            _this.sparks.splice(s, 1)
            this.$socket.emit('ate', sparkId)
            // console.log(_this.sparks.length)
          }
        }
        //  show players
        for (var p = _this.players.length - 1; p >= 0; p--) {
          if (_this.players[p].id !== _this.player.id) {
            _this.players[p].show()
          }
          // if (_this.started && _this.player.range(_this.players[p])) {
          //   console.log(_this.players[p])
          // }
        }
      }
    }
    this.ps = new P5(this.script)
  },
  methods: {
    prompt () {
      let _this = this
      this.$q.dialog({
        title: 'Prompt',
        message: 'What is your name?',
        prompt: {
          model: '',
          type: 'text' // optional
        },
        cancel: true,
        persistent: true
      }).onOk(name => {
        // console.log('>>>> OK, received', name)
        this.$socket.emit('start', { name: name, game: _this.game })
      }).onCancel(() => {
        // console.log('>>>> Cancel')
        this.$socket.emit('start')
      }).onDismiss(() => {
        // console.log('I am triggered on both OK and Cancel')
      })
    }
  }
}
</script>
