<template>
  <q-page>
    <div class="row">
      <div class="col-12 col-md-4 offset-md-4">
        <q-card class="my-card">
          <q-card-section>
            <div class="text-h6 text-center">Orb</div>
            <div class="text-subtitle2 text-center">by Fig</div>
          </q-card-section>

          <q-separator />

          <q-card-actions vertical>
            <q-btn flat router :to="{ name: 'play' }">Play</q-btn>
            <q-btn flat router :to="{ name: 'register' }">Register</q-btn>
            <q-btn flat>Login</q-btn>
          </q-card-actions>
        </q-card>
      </div>
    </div>
    <div ref="canvas"></div>
  </q-page>
</template>
