<template>
  <q-page>
    <div ref="canvas"></div>
  </q-page>
</template>

<script>
import P5 from 'p5'
import { Blob } from '../classes/Blob'

export default {
  name: 'PageIndex',
  data () {
    return {
      blobs: [],
      zoom: 1,
      showButton: true,
      player: {
        blob: null,
        started: false,
        x: 0,
        y: 0,
        r: 0
      },
      canvas: {
        width: 0,
        height: 0
      },
      game: {
        width: 100,
        height: 100
      }
    }
  },
  created () {
    this.canvas.width = (window.innerWidth)
    this.canvas.height = (window.innerHeight - 56) / (this.mobile ? 3 : 2) * 2
  },
  mounted () {
    let _this = this
    this.script = p5 => {
      var canvas = null

      p5.setup = _ => {
        canvas = p5.createCanvas(window.innerWidth, (window.innerHeight - 56) / (this.mobile ? 3 : 2) * 2)
        canvas.parent(this.$refs.canvas)
        p5.frameRate(60)
      }

      p5.draw = _ => {
        p5.translate(this.canvas.width / 2, this.canvas.height / 2)
        p5.background(127)
        p5.fill(255)
        // p5.ellipse(p5.mouseX, p5.mouseY, 50, 50)
        for (var i = this.blobs.length; i >= 0; i--) {
          if (this.blobs[i] !== undefined && this.blobs[i].id !== this.$socket.id) {
            p5.fill(0, 0, 255)
            // p5.ellipse(this.blobs[i].x, this.blobs[i].y, this.blobs[i].r * 2, this.blobs[i].r * 2)
            this.blobs[i].show()
          }
        }
      }

      //  socket listening
      this.$socket.on('initial', function (data) {
        console.log('INITIAL', data)
        _this.player.x = data.x
        _this.player.y = data.y
        _this.player.r = data.r
        _this.game.width = data.w
        _this.game.height = data.h
        _this.player.blob = new Blob(p5, _this.player.x, _this.player.y, data.r, _this.$socket.id)
        _this.player.started = true
      })
      this.$socket.on('heartbeat', function (data) {
        if (_this.player.started) {
          console.log('heartbeat', data)
          _this.blobs = []
          data.forEach(element => {
            _this.blobs.push(new Blob(p5, element.x, element.y, element.r, element.id))
          })
        }
      })
    }
    this.ps = new P5(this.script)
    this.$socket.emit('start')
    console.log(this.ps)
  },
  computed: {
    mobile () {
      return this.$q.platform.is.mobile
    }
  },
  methods: {
    draw (sketch) {
      //  draw the scoreboard
      for (let row = 0; row < this.blobs.length; row++) {
        sketch.color(255)
        sketch.text(this.blobs[row].id, 50, 50 + (row * 20))
      }
      //  draw the player
      if (this.player.started) {
        sketch.background('green')
        sketch.translate(this.canvas.width / 2, this.canvas.height / 2)
        var playerR = this.player.r
        var blobR = this.player.blob.r
        var newZoom = playerR / blobR
        this.zoom = sketch.lerp(this.zoom, newZoom, 0.1)
        sketch.scale(this.zoom)
        sketch.translate(-this.player.blob.pos.x, -this.player.blob.pos.y)

        var mouseX = sketch.mouseX - this.canvas.width / 2
        var mouseY = sketch.mouseY - this.canvas.height / 2
        mouseY -= this.mobile ? (this.canvas.height - (window.innerHeight - 56) / 6) : 0
        this.player.blob.update(mouseX, mouseY)
        this.player.blob.show(true)
        this.player.blob.constrain(this.game.width, this.game.height)
        this.$socket.emit('update', { x: this.player.blob.pos.x, y: this.player.blob.pos.y })
        // for (var i = this.blobs.length; i >= 0; i--) {
        //   if (this.blobs[i] !== undefined && this.blobs[i].id !== this.$socket.id) {
        //     sketch.fill(0, 0, 255)
        //     sketch.ellipse(this.blobs[i].x, this.blobs[i].y, this.blobs[i].r * 2, this.blobs[i].r * 2)
        //     this.blobs[i].show()
        //   }
        // }
      }
    },
    keypressed (sketch) {
      //
    },
    start () {
      this.$q.fullscreen.request()
      this.showButton = false
      this.$socket.emit('start')
    }
  }
}
</script>
