<template>
  <q-page>
    <div ref="canvas"></div>
  </q-page>
</template>

<script>
import P5 from 'p5'
import { Blob } from '../classes/Blob'

export default {
  data () {
    return {
      p5: null,
      canvas: {
        width: 0,
        height: 0
      },
      player: null,
      players: [],
      game: null,
      zoom: 1
    }
  },
  created () {
    this.canvas.width = (window.innerWidth)
    this.canvas.height = (window.innerHeight - 56) / (this.mobile ? 3 : 2) * 2
  },
  mounted () {
    let _this = this
    this.script = p5 => {
      _this.p5 = p5
      var canvas = null

      p5.setup = _ => {
        canvas = p5.createCanvas(this.canvas.width, (this.canvas.height - 56) / (this.mobile ? 3 : 2) * 2)
        canvas.parent(this.$refs.canvas)
        p5.frameRate(60)
      }

      p5.draw = _ => {
        // p5.ellipse(p5.mouseX, p5.mouseY, 50, 50)
        p5.translate(canvas.width / 2, canvas.height / 2)
        p5.background(127)
        var mouseX = p5.mouseX - this.canvas.width / 2
        var mouseY = p5.mouseY - this.canvas.height / 2
        mouseY -= this.mobile ? (this.canvas.height - (window.innerHeight - 56) / 6) : 0
        p5.scale(this.zoom)

        p5.fill(50)
        p5.ellipse(50, 50, 40, 40)
        if (_this.player !== null) {
          _this.player.update(mouseX, mouseY)
          _this.player.show()
        }
        for (var i = this.players.length; i >= 0; i--) {
          if (this.players[i] !== undefined && this.players[i].id !== this.$socket.id) {
            p5.fill(0, 0, 255)
            // p5.ellipse(this.blobs[i].x, this.blobs[i].y, this.blobs[i].r * 2, this.blobs[i].r * 2)
            this.blobs[i].show(true)
          }
        }
      }
    }
    this.ps = new P5(this.script)
    this.$socket.emit('start')

    //  socket listening
    this.$socket.on('initial', function (data) {
      console.log('INITIAL', data, _this.player)
      _this.game = data.game
      _this.player = new Blob(_this.p5, data.player.x, data.player.y, data.r, data.a, _this.$socket.id)
    })
  }
}
</script>
