<template>
  <q-page>
    <div ref="canvas"></div>
    {{ server.radius }} <br> {{ me.radius }}
  </q-page>
</template>

<script>
import P5 from 'p5'

export default {
  data () {
    return {
      players: [],
      canvas: {
        width: 0,
        height: 0
      },
      client: {
        zoom: 1,
        frameRate: 60,
        deltaTime: 0,
        viewable: {
          top: 0,
          bottom: 0,
          left: 0,
          right: 0
        }
      },
      server: {
        width: 0,
        height: 0,
        radius: 0
      }
    }
  },
  computed: {
    me () {
      return this.players.find(player => player.socketId === this.$socket.id)
    }
  },
  created () {
    this.canvas.width = window.innerWidth
    this.canvas.height = window.innerHeight - 56
  },
  mounted () {
    this.$socket.emit('play', { canvas: this.canvas })

    //  p5
    this.script = p5 => {
      let _this = this

      /**
       * HEARTBEAT
       */
      this.$socket.on('heartbeat', function (data) {
        _this.socketHeartbeat(data)
      })

      /**
       * GAME
       */
      this.$socket.on('game', function (data) {
        console.log('GAME', data)
        _this.server = data
      })

      /**
       * SETUP
       */
      p5.setup = _ => {
        _this.setup(p5)
      }

      /**
       * DRAW
       */
      p5.draw = _ => {
        _this.draw(p5)
      }
    }

    /**
     * INITIATOR
     */
    this.ps = new P5(this.script)
  },
  methods: {
    setup (p5) {
      this.canvas = p5.createCanvas(this.client.width, (this.client.height - 56) / (this.mobile ? 3 : 2) * 2)
      this.canvas.parent(this.$refs.canvas)
    },
    draw (p5) {
      console.log(this.me, this.server)
      if (this.me && this.server.radius !== 0) {
        let dt = new Date()
        this.client.deltaTime = dt
        // p5.translate(p5.width / 2, p5.height / 2)
        var newZoom = this.server.radius / this.me.radius
        this.zoom = p5.lerp(this.zoom, newZoom, 0.1)
        p5.scale(this.zoom)
        p5.translate(-this.me.pos.x, -this.me.pos.y)
        //  draw border
        p5.background(200)
        p5.fill(180)
        p5.strokeWeight(0)
        p5.rect(0, 0, this.server.width, this.server.height)
      }
    },
    socketHeartbeat (data, p5) {
      console.log('HEARTBEAT', data)
      this.players = data.players
    }
  }
}
</script>
