<template>
  <q-page>
    <div ref="canvas"></div>
  </q-page>
</template>

<script>
import P5 from 'p5'
import Player from '../classes/Player'
import Spark from '../classes/Spark'

export default {
  data () {
    return {
      p5: null,
      hasStarted: false,
      player: {},
      api_token: null,
      zoom: 1,
      players: [],
      sparks: [],
      canvas: {
        width: 0,
        height: 0
      },
      game: {
        width: 0,
        height: 0,
        radius: 0,
        maxRadius: 0,
        frameRate: 60,
        deltaTime: 0
      }
    }
  },
  created () {
    this.canvas.width = (window.innerWidth)
    this.canvas.height = (window.innerHeight - 56) / (this.mobile ? 3 : 2) * 2

    if (this.$q.localStorage.has('api_token')) {
      this.api_token = this.$q.localStorage.getItem('api_token')
    }
  },
  mounted () {
    let _this = this
    console.log('playin')

    this.$socket.emit('start', { canvas: _this.canvas, api_token: _this.api_token })

    //  p5
    this.script = p5 => {
      /**
       * INITIAL
       */
      this.$socket.on('started', function (data) {
        _this.started(data, p5)
      })

      /**
       * HEARTBEAT
       */
      this.$socket.on('heartbeat', function (data) {
        _this.heartbeat(data, p5)
        // console.log('SPARKS', _this.sparks.length)
      })

      /**
       * SPAWNED
       */
      this.$socket.on('spawned', function (spark) {
        _this.sparks.push(new Spark(p5, spark.x, spark.y, spark.radius, spark.id))
      })

      /**
       * SETUP
       */
      p5.setup = _ => {
        _this.setup(p5)
      }

      /**
       * DRAW
       */
      p5.draw = _ => {
        _this.draw(p5)
      }
    }

    /**
     * INITIATOR
     */
    this.ps = new P5(this.script)
  },
  methods: {
    setup (p5) {
      this.canvas = p5.createCanvas(this.canvas.width, (this.canvas.height - 56) / (this.mobile ? 3 : 2) * 2)
      this.canvas.parent(this.$refs.canvas)
      p5.frameRate(this.game.frameRate)
    },
    draw (p5) {
      let dt = new Date()
      // console.log('DT', dt - this.game.deltaTime)
      this.game.deltaTime = dt
      //  move from the top to the middle
      p5.translate(p5.width / 2, p5.height / 2)
      if (this.hasStarted) {
        var newZoom = this.game.radius / this.player.radius
        this.zoom = p5.lerp(this.zoom, newZoom, 0.1)
        p5.scale(this.zoom)
        p5.translate(-this.player.pos.x, -this.player.pos.y)
        //  draw border
        p5.background(200)
        p5.fill(180)
        p5.strokeWeight(0)
        p5.rect(0, 0, this.game.width, this.game.height)
        //  show players
        var playersOnScreen = []
        const scaledWidth = p5.width / this.zoom
        const scaledHeight = p5.height / this.zoom
        const halfScaledWidth = scaledWidth / 2
        const halfScaledHeight = scaledHeight / 2
        for (var p = this.players.length - 1; p >= 0; p--) {
          if (
            this.players[p].id !== this.$socket.id &&
            this.players[p].pos.x > (this.player.pos.x - halfScaledWidth) &&
            this.players[p].pos.x < (this.player.pos.x + halfScaledWidth) &&
            this.players[p].pos.y > (this.player.pos.y - halfScaledHeight) &&
            this.players[p].pos.y < (this.player.pos.y + halfScaledHeight)
          ) {
            playersOnScreen.push(this.players[p])
            this.players[p].show(p5, false, this.game)
          }
        }
        //  update player
        // _this.player.update(p5, p5.mouseX, p5.mouseY, _this.game)
        this.player.move(p5, this.game, this.canvas)
        //  show player
        this.player.show(p5, true, this.game, this.canvas, playersOnScreen)
        this.$socket.emit('updateCoordinates', { x: this.player.pos.x, y: this.player.pos.y })
        //  show sparks
        for (var s = this.sparks.length - 1; s >= 0; s--) {
          //  only show sparks within the viewport
          if (
            this.sparks[s].pos.x > (this.player.pos.x - (p5.width / this.zoom) / 2) &&
            this.sparks[s].pos.x < (this.player.pos.x + (p5.width / this.zoom) / 2) &&
            this.sparks[s].pos.y > (this.player.pos.y - (p5.height / this.zoom) / 2) &&
            this.sparks[s].pos.y < (this.player.pos.y + (p5.height / this.zoom) / 2)
          ) {
            this.sparks[s].show(p5)
          }
          // if (_this.started && _this.player.range(_this.sparks[s], _this.game.maxRadius)) {
          //   const sparkId = _this.sparks[s].id
          //   _this.sparks.splice(s, 1)
          //   this.$socket.emit('ate', sparkId)
          // }
        }
      }
    },
    // socket functions
    started (data, p5) {
      console.log('STARTED', data)
      this.sparks = []
      data.sparks.forEach(element => {
        this.sparks.push(new Spark(p5, element.x, element.y, element.radius, element.id))
      })
      this.game.width = data.game.width
      this.game.height = data.game.height
      this.game.radius = data.game.radius
      this.game.maxRadius = data.game.maxRadius
      this.player = new Player(p5, data.player.x, data.player.y, data.player.radius, data.player.arcRadius, this.$socket.id, data.player.username, data.player.team)
      this.hasStarted = true
    },
    heartbeat (data, p5) {
      console.log('HEARTBEAT', data)
      if (this.hasStarted) {
        this.players = []
        data.players.forEach(element => {
          this.players.push(
            new Player(
              p5,
              element.x,
              element.y,
              element.radius,
              element.arcRadius,
              element.id,
              element.name,
              element.team
            )
          )
        })
      }
    }
  }
}
</script>
