<template>
    <q-page>
        <q-card>
          <q-btn color="primary" label="Primary" @click="register" />
        </q-card>
        <div v-if="errors">Your registration attempt has errors</div>
    </q-page>
</template>

<script>
export default {
  data () {
    return {
      errors: false
    }
  },
  mounted () {
    let _this = this
    this.$socket.on('registered', function (data) {
      console.log('registered')
      _this.$q.localStorage.set('api_token', data.api_token)
      _this.$router.push({ name: 'index' })
    })
    this.$socket.on('registered_error', function (data) {
      console.log('registered_error')
      _this.errors = true
      // _this.$router.push({ name: 'index' })
    })
  },
  methods: {
    register () {
      this.$socket.emit('register', { username: 'SierraKilo', password: 'password', email: 'sharif.khan@mac.com' })
    }
  }
}
</script>

<style>

</style>
